<!-- 保存した計算式一覧 -->
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="myFormulas_fragment">

<script type="text/javascript" th:src="@{/js/rest/rest-formulas.js}" defer></script>
<script type="text/javascript" th:src="@{/js/mypage/myFormulas.js}" defer></script>


<div class="container">
	<div class="mt-2 border-bottom">
		<h3 th:text="#{myFormulaList}"></h3>
	</div>
	<div>
		<a th:href="@{/calculator}" class="btn btn-sm btn-primary mt-2 mb-2" role="button"><i class="fas fa-folder-plus"></i>&ensp;[[#{newCreate}]]</a>
	</div>
	<table id="dataTable" class="mt-2 table table-bordered table-hover table-sm text-nowrap w-100">
		<thead class="thead-light">
			<tr>
				<th scope="col" th:text="#{title}"></th>
				<th scope="col" th:text="#{updateDate}"></th>
				<th scope="col" th:text="#{operation}"></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

</div>