<!-- 自分の投稿一覧 -->
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="usersettings-fragment">

<script type="text/javascript" th:src="@{/js/rest/rest-users.js}" defer></script>

<div class="container">
	<div class="mt-2 mb-2 border-bottom">
		<h3 th:text="#{userSettings}"></h3>
	</div>

	<div class="accordion" id="accordion">
		<!-- ユーザー名変更 -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#userNameCollapse" aria-expanded="false">
						ユーザー名の変更
					</button>
				</h5>
			</div>
			<div id="userNameCollapse" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form class="form-input" id="changeUserNameForm" th:action th:method="put" onsubmit="return ajaxRename();" th:object="${changeUserNameForm}">
						<!-- 新しいユーザー名入力 -->
						<div class="form-group">
							<label for="userName" th:text="#{new} + #{userName}"></label>
							<input type="text" class="form-control" th:field="*{userName}"
								th:value="${#authentication.principal.loginUser.userName}" th:placeholder="#{userNameLimit}">
						</div>
						<button id="userName-change" class="btn btn-primary" type="submit">[[#{change}]]</button>
					</form>
				</div>
			</div>
		</div>

		<!-- ログインIDの変更 -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#id-change" aria-expanded="false">
						ログインユーザーIDの変更
					</button>
				</h5>
			</div>
			<div id="id-change" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form class="form-input" id="changeIdForm" th:action th:method="put" onsubmit="return ajaxChangeId();">
						<div class="bg-light border rounded p-3 mb-3">
							<div class="form-group">
								<label for="newUserId" th:text="#{new} + #{userId}"></label>
								<input type="text" class="form-control" name="newUserId" th:placeholder="#{userIdLimit}">
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" th:text="#{confirmInput}"></div>
							<div class="card-body">
								<div class="form-group">
									<label for="nowUserId" th:text="#{now} + #{userId}"></label>
									<input type="text" class="form-control" name="nowUserId">
								</div>
								<div class="form-group">
									<label for="nowPassword" th:text="#{now} + #{password}"></label>
									<input type="password" class="form-control" name="nowPassword">
								</div>
							</div>
						</div>
						<button class="btn btn-primary" type="submit" th:text="#{change}"></button>
					</form>
				</div>
			</div>
		</div>

		<!-- ログインパスワードの変更 -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#password-change" aria-expanded="false">
						ログインパスワードの変更
					</button>
				</h5>
			</div>
			<div id="password-change" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form class="form-input" id="changePasswordForm" th:action th:method="put" onsubmit="return ajaxChangePassword();">
						<div class="bg-light border rounded p-3 mb-3">
							<div class="form-group">
								<label for="newPassword" th:text="#{new} + #{password}"></label>
								<input type="password" class="form-control" name="newPassword" th:placeholder="#{passwordLimit}">
							</div>
							<div class="form-group">
								<label for="newPasswordConfirm" th:text="#{new} + #{password} + #{confirm}"></label>
								<input type="password" class="form-control" name="newPasswordConfirm" th:placeholder="#{passwordLimit}">
							</div>
						</div>
						<div class="border rounded p-3 mb-3">
							<div class="form-group">
								<label for="nowPassword" th:text="#{now} + #{password}"></label>
								<input type="password" class="form-control" name="nowPassword">
							</div>
						</div>
						<button class="btn btn-primary" type="submit" th:text="#{change}"></button>
					</form>
				</div>
			</div>
		</div>

		<!-- 退会手続き -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#unregister" aria-expanded="false">
						<i class="fas fa-exclamation-triangle"></i>&ensp;ユーザー登録解除
					</button>
				</h5>
			</div>
			<div id="unregister" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form id="unregisterForm" th:action th:method="delete" th:object="${confirmIdPasswordForm}" onsubmit="return ajaxDeleteUser();">
						<div class="bg-danger text-white p-2 mb-3">
							<i class="fas fa-exclamation-triangle"></i>&ensp;一度登録を解除すると元には戻せません！！<br>
							<i class="fas fa-exclamation-triangle"></i>&ensp;また、掲示板に投稿した計算表が全て削除されます！！
						</div>
						<div class="card mb-3">
							<div class="card-header" th:text="#{confirmInput}"></div>
							<div class="card-body">
								<div class="form-group">
									<label for="nowUserId" th:text="#{now} + #{userId}"></label>
									<input type="text" class="form-control" th:field="*{nowUserId}">
								</div>
								<div class="form-group">
									<label for="nowPassword" th:text="#{now} + #{password}"></label>
									<input type="password" class="form-control" th:field="*{nowPassword}">
								</div>
							</div>
						</div>
						<button class="btn btn-danger" type="submit">登録解除</button>
					</form>
				</div>
			</div>
		</div>

		<form class="hide" th:action="@{/logout}" method="post" id="logoutForm">
		</form>

	</div>

</div>

</div>