<!-- 自分の投稿一覧 -->
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="userSettings_fragment">

<script type="text/javascript" th:src="@{/js/rest/rest-users.js}" defer></script>
<script type="text/javascript" th:src="@{/js/mypage/userSettings.js}" defer></script>


<div class="container">
	<div class="mt-2 mb-2 border-bottom">
		<h3 th:text="#{userSettings}"></h3>
	</div>

	<div class="accordion" id="accordion">
		<!-- ユーザー名変更 -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#userNameCollapse" aria-expanded="false">
						ユーザー名の変更
					</button>
				</h5>
			</div>
			<div id="userNameCollapse" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form class="form-input" id="changeUserNameForm" th:action th:method="put" onsubmit="return ajaxRename();" th:object="${changeUserNameForm}">
						<!-- 新しいユーザー名入力 -->
						<div class="form-group">
							<label for="userName" th:text="#{new} + #{userName}"></label>
							<input type="text" class="form-control" th:field="*{userName}"
								th:value="${#authentication.principal.loginUser.userName}" th:placeholder="#{new} + #{userName} + '(20文字以内)'">

						</div>
						<button id="userName-change" class="btn btn-primary" type="submit">[[#{change}]]</button>
					</form>
				</div>
			</div>
		</div>

		<!-- ログインIDの変更 -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#id-change" aria-expanded="false">
						ログインユーザーIDの変更
					</button>
				</h5>
			</div>
			<div id="id-change" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form class="form-input" id="changeIdForm" th:action th:method="put" onsubmit="return ajaxChangeId();">
						<div class="bg-light border rounded p-3 mb-3">
							<div class="form-group">
								<label for="newUserId" th:text="#{new} + #{userId}"></label>
								<input type="text" class="form-control" name="newUserId">
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" th:text="#{confirmInput}"></div>
							<div class="card-body">
								<div class="form-group">
									<label for="nowUserId" th:text="#{now} + #{userId}"></label>
									<input type="text" class="form-control" name="nowUserId">
								</div>
								<div class="form-group">
									<label for="nowPassword" th:text="#{now} + #{password}"></label>
									<input type="password" class="form-control" name="nowPassword">
								</div>
							</div>
						</div>
						<button class="btn btn-primary" type="submit" th:text="#{change}"></button>
					</form>
				</div>
			</div>
		</div>

		<!-- ログインID・パスワードの変更 -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#id-password" aria-expanded="false">
						ログインユーザーID・パスワードの変更
					</button>
				</h5>
			</div>
			<div id="id-password" class="collapse" data-parent="#accordion">
				<div class="card-body">
					※　変更後、ログアウトを行います
					<form class="form-input" id="changeIdPasswordForm" th:action th:method="put" onsubmit="return ajaxChangeIdPassword();" th:object="${changeIdPasswordForm}">
						<div class="mt-3">
							<!-- ID変更 -->
							<div class="card mb-3">
								<div class="card-header">
									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="changeId" name="changeId" th:checked="*{changeId}">
										<label class="custom-control-label" for="changeId">ログインユーザーIDを変更する</label>
									</div>
								</div>
								<div class="hide card-body" id="newIdArea">
									<div class="form-group">
										<label for="newUserId" th:text="#{new} + #{userId}"></label>
										<input type="text" class="form-control" th:field="*{newUserId}">
									</div>
									<div class="form-group">
										<label for="newUserIdConfirm" th:text="#{new} + #{userId} + #{confirm}"></label>
										<input type="text" class="form-control" th:field="*{newUserIdConfirm}">
									</div>
								</div>
							</div>
							<!-- パスワード変更 -->
							<div class="card mb-3">
								<div class="card-header">
									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="changePassword" name="changePassword" th:checked="*{changePassword}">
										<label class="custom-control-label" for="changePassword">パスワードを変更する</label>
									</div>
								</div>
								<div class="hide card-body" id="newPasswordArea">
									<div class="form-group">
										<label for="newPassword" th:text="#{new} + #{password}"></label>
										<input type="password" class="form-control" th:field="*{newPassword}">
									</div>
									<div class="form-group">
										<label for="newPasswordConfirm" th:text="#{new} + #{password} + #{confirm}"></label>
										<input type="password" class="form-control" th:field="*{newPasswordConfirm}">
									</div>
								</div>
							</div>
							<!-- 確認用のＩＤパスワード入力 -->
							<div class="hide" id="confirmArea">
								<div class="card mb-3">
									<div class="card-header">確認の為、現在のID・パスワードを入力して下さい</div>
									<div class="card-body">
										<div class="form-group">
											<label for="nowUserId" th:text="#{now} + #{userId}"></label>
											<input type="text" class="form-control" th:field="*{nowUserId}">
										</div>
										<div class="form-group">
											<label for="nowPassword" th:text="#{now} + #{password}"></label>
											<input type="password" class="form-control" th:field="*{nowPassword}">
										</div>
									</div>
								</div>
								<button class="btn btn-primary" type="submit">[[#{change}]]</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 退会手続き -->
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#unregister" aria-expanded="false">
						<i class="fas fa-exclamation-triangle"></i>&ensp;ユーザー登録解除
					</button>
				</h5>
			</div>
			<div id="unregister" class="collapse" data-parent="#accordion">
				<div class="card-body">
					<form id="unregisterForm" th:action th:method="delete" th:object="${confirmIdPasswordForm}" onsubmit="return ajaxDeleteUser();">
						<div class="bg-danger text-white p-2 mb-3">
							<i class="fas fa-exclamation-triangle"></i>&ensp;一度登録を解除すると元には戻せません！！
						</div>
						<div class="card mb-3">
							<div class="card-header" th:text="#{confirmInput}"></div>
							<div class="card-body">
								<div class="form-group">
									<label for="nowUserId" th:text="#{now} + #{userId}"></label>
									<input type="text" class="form-control" th:field="*{nowUserId}">
								</div>
								<div class="form-group">
									<label for="nowPassword" th:text="#{now} + #{password}"></label>
									<input type="password" class="form-control" th:field="*{nowPassword}">
								</div>
							</div>
						</div>
						<button class="btn btn-danger" type="submit">登録解除</button>
					</form>
				</div>
			</div>
		</div>

		<form class="hide" th:action="@{/logout}" method="post" id="logoutForm">
		</form>

	</div>

</div>

</div>