<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
	<title>掲示板管理</title>
	<!-- 個別CSS、JS読込 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/table-width-limit.css}">
	<script type="text/javascript" th:src="@{/js/admin/admin-bbs.js}" defer></script>
</head>
<body>

<div layout:fragment="content" class="container-fluid">
	<div class="row">
		<!-- 左側 -->
		<div layout:replace="layout/admin-menu :: admin-menu('bbs')"></div>
		<!-- 右側 -->
		<div class="col-md-10">
			<div class="mt-2 mb-4 border-bottom">
				<h3>掲示板管理</h3>
			</div>

			<!-- 検索フォーム -->
			<form class="form-inline p-2 mb-2 mt-2 border border-info rounded-lg" id="search-form">
				<!-- ID -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">ID</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(0);">
				</div>
				<!-- カテゴリ -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text" for="category" th:text="#{category}"></label>
					</div>
					<select class="custom-select" id="category" onchange="filterColumn(1);">
						<option value="" th:text="#{all}" selected></option>
						<option v-for="option in options" :value="option.name">{{ option.name }}</option>
					</select>
				</div>
				<!-- 投稿者 -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text" th:text="#{poster}"></label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(2);">
				</div>
				<!-- タイトル -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text" th:text="#{title}"></label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(3);">
				</div>
				<!-- 投稿者コメント -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">投稿者コメント</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(4);">
				</div>
				<!-- 更新日 -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text" th:text="#{updateDate}"></label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(5);">
				</div>
				<!-- 表示状態 -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">表示状態</label>
					</div>
					<select class="custom-select" onchange="filterColumn(6);">
						<option value="" th:text="#{all}" selected></option>
						<option>公開</option>
						<option>隠す</option>
					</select>
				</div>
			</form>

			<!-- 投稿一覧表示テーブル -->
			<div class="scroll-x pb-4 pr-3">
				<table id="dataTable"
					class="table table-bordered table-hover table-sm text-nowrap w-100">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID</th>
							<th scope="col" th:text="#{category}"></th>
							<th scope="col" th:text="#{poster}"></th>
							<th scope="col" th:text="#{title}"></th>
							<th scope="col">投稿者コメント</th>
							<th scope="col" th:text="#{updateDate}"></th>
							<th scope="col">表示状態</th>
							<th scope="col" th:text="#{operation}"></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

			<!-- 情報編集ポップアップ -->
			<div class="popup-file">
				<div class="content">
					<form th:action th;method="PUT" id="input-form">
						<table class="table table-bordered table-hover">
							<tr>
								<th class="col-3">ID</th>
								<td class="col">{{id}}</td>
							</tr>
							<tr>
								<th>カテゴリ</th>
								<td>
									<select class="form-control" v-model="category">
										<option v-for="option in options" :value="option.id">{{ option.name }}</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>投稿者名</th>
								<td :class="[!poster ? 'text-black-50': '']">{{poster ? poster : '※ 退会済 ※'}}</td>
							</tr>
							<tr>
								<th>タイトル</th>
								<td>
									<input class="form-control" v-model="title">
								</td>
							</tr>
							<tr>
								<th>投稿者コメント</th>
								<td>
									<textarea class="form-control" rows="8" v-model="comment"></textarea>
								</td>
							</tr>
							<tr>
								<th>更新日時</th>
								<td>{{updateDate}}</td>
							</tr>
							<tr>
								<th>表示状態</th>
								<td>
									<select class="form-control" v-model="view">
										<option value="true">公開</option>
										<option value="false">隠す</option>
									</select>
								</td>
							</tr>
						</table>
					</form>
					<div class="mt-5 row">
						<button id="close-file" class="col mr-5 btn btn-secondary"><i class="fas fa-window-close"></i>&ensp;[[#{close}]]</button>
						<button class="col mr-5 btn btn-primary" onclick="ajaxUpdatePost()"><i class="fas fa-edit"></i>&ensp;投稿内容更新</button>
						<button class="col btn btn-danger" onclick="ajaxDeletePost()"><i class="fas fa-trash-alt"></i>&ensp;投稿完全削除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>