<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
	<title>コメント管理</title>
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/table-width-limit.css}">
	<script type="text/javascript" th:src="@{/js/admin/admin-comment.js}" defer></script>
</head>
<body>

<div layout:fragment="content" class="container-fluid">
	<div class="row">
		<!-- 左側 -->
		<div layout:replace="layout/admin-menu :: admin-menu('comment')"></div>
		<!-- 右側 -->
		<div class="col-md-10">
			<div class="mt-2 mb-4 border-bottom">
				<h3>コメント管理</h3>
			</div>

			<!-- 検索フォーム -->
			<form class="form-inline p-2 mb-2 mt-2 border border-info rounded-lg" id="search-form">
				<!-- 投稿先ID -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">投稿先ID</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(0);">
				</div>
				<!-- No -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">No</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(1);">
				</div>
				<!-- 投稿者ID -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">投稿者ID</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(2);">
				</div>
				<!-- 投稿者名 -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">投稿者名</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(3);">
				</div>
				<!-- 投稿日時 -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">投稿日時</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(4);">
				</div>
				<!-- コメント -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">コメント</label>
					</div>
					<input type="text" class="form-control" oninput="filterColumn(5);">
				</div>
				<!-- 表示状態 -->
				<div class="input-group mr-2 mb-2">
					<div class="input-group-prepend">
						<label class="input-group-text">表示状態</label>
					</div>
					<select class="custom-select" onchange="filterColumn(6);">
						<option value="" th:text="#{all}" selected></option>
						<option>公開</option>
						<option>隠す</option>
					</select>
				</div>
			</form>

			<!-- コメント一覧表示テーブル -->
			<div class="scroll-x pb-4 pr-3">
				<table id="dataTable"
					class="table table-bordered table-hover table-sm text-nowrap w-100">
					<thead class="thead-light">
						<tr>
							<th scope="col">投稿先ID</th>
							<th scope="col">No</th>
							<th scope="col">投稿者ID</th>
							<th scope="col">投稿者名</th>
							<th scope="col">投稿日時</th>
							<th scope="col">コメント</th>
							<th scope="col">表示状態</th>
							<th scope="col">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

			<!-- 情報編集ポップアップ -->
			<div class="popup-file">
				<div class="content">
					<div id="popup-body">
						<h6 class="border-bottom">表題と説明コメント</h6>
						<div v-if="postData != null" class="mb-4">
							<div v-if="postData.id" class="border border-success rounded p-2">
								<h5>[ {{postData.category}} ] {{postData.title}}</h5>
								<small>投稿者 : {{postData.creatorName}}　更新日時：{{formatDate(postData.updateDate)}}</small>
								<div class="border-bottom border-secondary"></div>
								<p>{{postData.comment}}</p>
							</div>
							<div v-else>※　非公開の為取得出来ませんでした　※</div>
						</div>
						<h6 class="border-bottom">ついたコメント</h6>
						<div v-if="comments.length">
							<div v-for="comment in comments" class="border rounded p-2 mb-2" :class="[selectNo == comment.no ? 'border-danger' : 'border-secondary']">
								<small>No：{{comment.no}}　投稿者：{{comment.posterName}}　投稿日時：{{formatDate(comment.postDate)}}</small>
								<div class="border-bottom border-secondary"></div>
								<p>{{comment.comment}}</p>
							</div>
						</div>
					</div>
					<button id="close-file" class="mt-3 btn btn-secondary"><i class="fas fa-window-close"></i>&ensp;[[#{close}]]</button>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>