<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head_fragment :: head_fragment(
title = #{bbs}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}">
	<script type="text/javascript" th:src="@{/js/bbs.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header_fragment :: header_fragment"></header>

<div class="container">
	<!-- 検索フォーム -->
	<form class="form-inline m-2 border-bottom">
		<!-- カテゴリ選択 -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category" th:text="#{category}"></label>
			</div>
			<select class="custom-select" id="category" onchange="filterColumn(0);">
				<option th:each="category : ${categoryMap}" th:value="${category.value}" th:text="${category.key}"></option>
			</select>
		</div>
		<!-- 作成者 -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" th:text="#{poster}"></label>
			</div>
			<input type="text" class="form-control" oninput="filterColumn(1);">
		</div>
		<!-- タイトル -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" th:text="#{title}"></label>
			</div>
			<input type="text" class="form-control" oninput="filterColumn(2);">
		</div>
		<!-- 更新日 -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" th:text="#{updateDate}"></label>
			</div>
			<input type="text" class="form-control" oninput="filterColumn(3);">
		</div>
		<!--
		<div class="p-2">
			<button class="btn btn-sm btn-primary">
				<i class="fas fa-search mr-1"></i>
				絞り込み
			</button>
		</div>
		 -->
	</form>

	<!-- 新規投稿ボタン -->
	<a sec:authorize="${authenticated}" th:href="@{/bbs/newpost}" class="btn btn-sm btn-primary mb-2" role="button">[[#{newpost}]]</a>

	<!-- 投稿表示テーブル -->
	<table id="dataTable" class="table table-bordered table-hover table-sm w-100">
		<thead class="thead-light">
			<tr>
				<th scope="col" th:text="#{category}"></th>
				<th scope="col" th:text="#{poster}"></th>
				<th scope="col" th:text="#{title}"></th>
				<th scope="col" th:text="#{updateDate}"></th>
				<th scope="col" th:text="#{operation}"></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

</body>
</html>