<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head-fragment :: head-fragment(
title = #{bbs}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}">
	<script type="text/javascript" th:src="@{/js/rest/rest-posts.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/bbs.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header-fragment :: header-fragment"></header>

<div class="container">

	<div class="mt-2 mb-2">
		<!-- 新規投稿ボタン -->
		<a sec:authorize="${authenticated}" th:href="@{/bbs/newpost}" class="btn btn-primary" role="button">
			<i class="fas fa-edit"></i>&ensp;[[#{newpost}]]
		</a>
		<!-- 検索フォーム表示・非表示切り替え -->
		<button class="btn btn-outline-info" data-toggle="button" aria-pressed="true" onclick="toggleSearchForm();">
			<i class="fas fa-search"></i>&ensp;[[#{searchOn}]]
		</button>
		<small class="ml-3" sec:authorize="${!authenticated}">
			※ ログインすると投稿が可能になります
		</small>
	</div>

	<!-- 検索フォーム -->
	<form class="form-inline p-2 mb-2 border border-info rounded-lg" id="search-form" style="display:none">
		<!-- カテゴリ選択 -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" for="category" th:text="#{category}"></label>
			</div>
			<select class="custom-select" id="category" onchange="filterColumn(0);">
				<option value="" th:text="#{all}"></option>
				<option th:each="category : ${categoryList}" th:value="${category.name}" th:text="${category.name}"></option>
			</select>
		</div>
		<!-- 作成者 -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" th:text="#{poster}"></label>
			</div>
			<input type="text" class="form-control" oninput="filterColumn(1);">
		</div>
		<!-- タイトル -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" th:text="#{title}"></label>
			</div>
			<input type="text" class="form-control" oninput="filterColumn(2);">
		</div>
		<!-- 更新日 -->
		<div class="input-group mr-2 mb-2">
			<div class="input-group-prepend">
				<label class="input-group-text" th:text="#{updateDate}"></label>
			</div>
			<input type="text" class="form-control" oninput="filterColumn(3);">
		</div>
	</form>

	<!-- 投稿表示テーブル -->
	<table id="dataTable" class="table table-bordered table-hover table-sm w-100">
		<thead class="thead-light">
			<tr>
				<th scope="col" th:text="#{category}"></th>
				<th scope="col" th:text="#{poster}"></th>
				<th scope="col" th:text="#{title}"></th>
				<th scope="col" th:text="#{updateDate}"></th>
				<th scope="col" th:text="#{operation}"></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

</body>
</html>