<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head-fragment :: head-fragment(
title = #{newpost}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bbspost.css}">
	<script type="text/javascript" th:src="@{/js/rest/rest-posts.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/rest/rest-formulas.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/bbs/bbspost.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header-fragment :: header-fragment"></header>

<!-- 投稿情報入力 -->
<form class="container w-75" id="input-form" th:action method="post" onsubmit="return ajaxAddPost();">
	<!-- 見出し -->
	<div class="border-bottom mb-3">
		<h3 th:text="#{newpost}"></h3>
	</div>
	<!-- エラーメッセージ -->
	<div class="mb-3 text-center" id="errorMsg">
	</div>
	<!-- 計算表選択 -->
	<div class="z-0 input-group mb-3">
		<div th:replace="fragment/createpost-fragment :: selectFormula-fragment"></div>
	</div>
	<input type="hidden" name="postFormula" v-model="formulaId">

	<!-- その他入力部分 -->
	<div th:replace="fragment/createpost-fragment :: form-fragment"></div>

	<!-- 投稿ボタン -->
	<button class="mt-3 btn btn-primary w-100" type="submit" th:text="#{post}"></button>
</form>

<!-- ファイル読込ポップアップ -->
<header th:replace="fragment/popup-formulaList-fragment :: popup-formulaList-fragment"></header>

</body>
</html>