<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
	<title>[[#{postNone}]]</title>
	<!-- 個別CSS、JSを読込 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
	<script type="text/javascript" th:src="@{/js/rest/rest-posts.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/rest/rest-comments.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/bbs/viewpost.js}" defer></script>
</head>
<body>

<div layout:fragment="content" id="post-body" class="hide container mt-3">
	<div v-if="postData != null">
		<div class="w-100 border border-info rounded p-2">
			<!-- 投稿タイトル部分 -->
			<div class="container w-100">
				<div class="row bg-info rounded p-2">
					<div class="col-2 bg-light text-dark rounded d-flex align-items-center justify-content-center">
						{{postData.category}}
					</div>
					<h3 id="title-text" class="col-10 text-white">{{postData.title}}</h3>
				</div>
			</div>
			<!-- 投稿詳細部分 -->
			<div class="p-2">
				<small>更新日時：{{formatDate(postData.updateDate)}}</small>
				<h6>投稿者 : {{postData.creatorName}}</h6>
				<div class="p-2 border border-info rounded">
					<p>{{postData.comment}}</p>
				</div>
				<div class="d-flex flex-row mt-3">
					<!-- 開く -->
					<a :href="'/calculator?openBBS=' + postData.id" class="btn btn-info mr-3">
						<i class="fas fa-download"></i>&ensp;[[#{open}]]
					</a>
					<!-- 投稿者本人の場合可能な操作 -->
					<div v-if="postData.mine" class="d-flex flex-nowrap">
						<!-- 投稿内容編集 -->
						<a :href="'/bbs/post/update?postId=' + postData.id" class="mr-3 btn btn-success" role="button">
							<i class="fas fa-edit"></i>&ensp;[[#{postEditing}]]
						</a>
						<!-- 投稿を削除 -->
						<button type="button" class="btn btn-danger" id="delete-btn" :onclick="'ajaxDeletePost(' + postData.id + ');'">
							<i class='fas fa-trash-alt'></i>&ensp;[[#{postDelete}]]
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="comment-list" class="w-100 border border-secondary rounded mt-3 p-2">
			コメント
			<div v-if="comments.length != 0">
				<div v-for="comment in comments">
					<div class="m-1 border border-secondary rounded">
						<small class="p-1">{{comment.no}}　投稿者：{{comment.posterName}}　　投稿日時：{{formatDate(comment.postDate)}}</small><br>
						<div class="p-1 border-top border-secondary">
							<p>{{comment.comment}}</p>
						</div>
					</div>
				</div>
			</div>
			<div v-else>
				<div>-- コメントはまだありません --</div>
			</div>
				<div class="w-100 border border-secondary rounded mt-3 p-2">
				コメント投稿
				<div sec:authorize="${authenticated}">
					<form id="comment-form" th:action method="post">
						<div>
							<textarea v-model="newComment" class="mt-2 mb-2 form-control"></textarea>
						</div>
						<button type="button" class="btn btn-primary" @click="sendComment()"><i class="fas fa-pen"></i>&ensp;投稿</button>
					</form>
				</div>
				<div sec:authorize="${!authenticated}">
					-- ログインするとコメントが出来るようになります --
				</div>
			</div>
		</div>
	</div>
	<!-- 投稿データが見つからない時 -->
	<div v-else>
		<h3 class="text-danger text-center" th:text="#{postNone}"></h3>
		<div class="text-center">
			<a href="javascript:history.back();" th:text="#{back.prev}"></a>
		</div>
	</div>

</div>

</body>
</html>