<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head_fragment :: head_fragment(
title = ${postData != null} ? ${postData.title} : #{postNone}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}">
	<script type="text/javascript" th:src="@{/js/blank.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header_fragment :: header_fragment"></header>

<div class="container mt-3">
	<!-- 投稿データが見つからない時 -->
	<th:block th:if="${postData == null}">
		<h3 class="text-danger text-center" th:text="#{postNone}"></h3>
		<div class="text-center">
			<a href="javascript:history.back();" th:text="#{back.prev}"></a>
		</div>
	</th:block>
	<!-- 投稿データを取得できた時 -->
	<th:block th:if="${postData != null}">
		<!-- 投稿タイトル部分 -->
		<div class="container w-100">
			<div class="row bg-info rounded p-2">
				<div class="col-2 bg-light text-dark rounded d-flex align-items-center justify-content-center"
					th:text="${postData.category}"></div>
				<h3 class="col-10 text-white" th:text="${postData.title}"></h3>
			</div>
		</div>
		<!-- 投稿詳細部分 -->
		<div class="w-100 border rounded mt-2">
			<div class="p-2">
				<h5 th:text="#{poster} + '：' + ${postData.creatorName} + '　　' + #{updateDate} + '：' + ${#dates.format(postData.updateDate, 'yyyy/MM/dd HH:mm')}"></h5>
				<div class="p-3 border rounded">
					<pre th:text="${postData.comment}"></pre>
				</div>
				<div class="d-flex flex-row mt-2">
					<a th:href="'/calculator?openBBS=' + ${postData.id}" class="btn btn-info" th:text="#{open}"></a>
					<div sec:authorize="${authenticated}">
						<th:block th:if="${#authentication.principal.loginUser.id == postData.creatorId}">
							<!-- 投稿者本人の場合可能な操作 -->
							<a th:href="'/bbs/post/update?postId=' + ${postData.id}" class="ml-2 btn btn-warning" th:text="#{postEditing}" role="button"></a>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</div>

</body>
</html>