<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head-fragment :: head-fragment(
title = #{postEditing}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bbspost.css}">
	<script type="text/javascript" th:src="@{/js/rest/rest-posts.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/rest/rest-formulas.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/bbs/bbspost.js}" defer></script>
	<script type="text/javascript" th:src="@{/js/bbs/updatepost.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header-fragment :: header-fragment"></header>

<!-- 投稿情報入力 -->
<form class="container w-75 p-3" id="input-form" th:action th:method="put" th:object="${BBSPostForm}" onsubmit="return ajaxUpdatePost();">
	<!-- 見出し -->
	<div class="border-bottom mb-3">
		<h3 th:text="#{postEditing}"></h3>
	</div>
	<!-- エラーメッセージ -->
	<div class="mb-3 text-center" id="errorMsg">
	</div>

	<input type="hidden" th:field="*{postId}">

	<div class="border rounded p-2 mb-3">
		<!-- 計算表を変更するか？ -->
		<div class="custom-control custom-switch z-0">
			<input type="checkbox" class="custom-control-input" name="changeFormula" id="changeFormula">
			<label class="custom-control-label" for="changeFormula" th:text="#{formulaChange}"></label>
		</div>

		<!-- 計算表選択 -->
		<div class="input-group mt-1 z-0" id="selectFormula" style="display:none">
			<div class="input-group-prepend">
				<label class="input-group-text" for="myFormulas" th:text="#{postFormula}"></label>
			</div>
			<label class="form-control text-truncate" id="titleText" for="open-btn" th:text="${selectedName != ''} ? ${selectedName} : #{select.pls}"></label>
			<div class="input-group-append">
				<button class="btn btn-secondary z-0" id="open-btn" type="button" th:text="#{select}"></button>
			</div>
		</div>
		<input type="hidden" th:field="*{postFormula}" value="">
	</div>

	<div class="row">
		<!-- タイトル -->
		<div class="col-md-8">
			<div class="input-group mr-2 mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" th:text="#{title}"></label>
				</div>
				<input type="text" class="form-control" th:field="*{title}">
			</div>
		</div>

		<!-- カテゴリ -->
		<div class="col-md-4">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="category" th:text="#{category}"></label>
				</div>
				<select class="custom-select" th:field="*{category}">
					<option value="" th:text="#{unselected}"></option>
					<option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
				</select>
			</div>
		</div>

	</div>

	<!-- コメント -->
	<div class="form-group">
		<label class="mt-2 mb-0 p-2 border-bottom-0 rounded" id="commentLavel" for="comment" th:text="#{comment.sup}"></label>
		<textarea class="form-control" id="comment" rows="8" th:field="*{comment}"></textarea>
	</div>

	<!-- 変更確定ボタン -->
	<button class="btn btn-primary w-100" type="submit" th:text="#{register}"></button>
</form>

<!-- ファイル読込 -->
<div class="popup-file">
	<div class="content">
		<!-- 計算表一覧 -->
		<table id="dataTable" class="table table-sm table-bordered text-nowrap w-100">
			<thead class="thead-light">
				<tr>
					<th th:text="#{title}"></th>
					<th th:text="#{updateDate}"></th>
					<th th:text="#{operation}"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<button id="close-file" class="btn btn-secondary"><i class="fas fa-window-close"></i>&ensp;[[#{close}]]</button>
	</div>
</div>

</body>
</html>