<div xmlns:th="http://www.thymeleaf.org" th:fragment="calculatorGuide_fragment"
 class="popup-guide">
    <div class="content">
        <table class="table table-bordered">
            <tr>
                <td>
                    マウスクリック（左・右・ホイール）
                </td>
                <td>
                    画面上のオブジェクトを選択<br>
                    更にドラッグする事でオブジェクトを移動可能
                </td>
            </tr>
            <tr>
                <td>
                    ダブルクリック（マウス左）
                </td>
                <td>
                    数字オブジェクトのタグ（文字部分）または数値部分をダブルクリックする事で変更が可能<br>
                    （ポップアップが表示されるので、そこに文字列・数値を入力する）
                </td>
            </tr>
            <tr>
                <td>
                    数字キー:0～9
                </td>
                <td>
                    非選択時：数字キーに対応した数値を初期値とした数字オブジェクトをマウスカーソル位置に配置する<br>
                    数字オブジェクト選択時：数字の最後に数字キーに対応した数値を追加する(計算結果は不可)<br>
                    符号オブジェクト選択時：数字キーに対応した数値の数字オブジェクトを作成し、更にそれと計算した結果の数字オブジェクトを生成
                </td>
            </tr>
            <tr>
                <td>
                    +  -  *  / キー
                </td>
                <td>
                    数字オブジェクト選択時に、それぞれ足し算・引き算・掛け算・割り算の符号オブジェクトを追加する<br>
                    ※追加された符号オブジェクトの矢印の先にある●を計算先にしたい数字オブジェクトへドラッグ＆ドロップする事で計算結果オブジェクトを生成出来る
                </td>
            </tr>
            <tr>
                <td>
                    ドットキー：.
                </td>
                <td>
                    数字オブジェクト選択時に、小数点を追加する(計算結果は不可)
                </td>
            </tr>
            <tr>
                <td>
                    BackSpaceキー
                </td>
                <td>
                    数字オブジェクト選択時に、入力された数字を一桁削除する(計算結果は不可)
                </td>
            </tr>
            <tr>
                <td>
                    Cキー
                </td>
                <td>
                    数字オブジェクト選択時に、入力された数字を全て削除する（０だけにする）
                </td>
            </tr>
            <tr>
                <td>
                    Deleteキー
                </td>
                <td>
                    選択オブジェクトを削除する(計算結果は不可)
                </td>
            </tr>
        </table>
        <button id="close-guide" class="btn btn-secondary"><i class="fas fa-window-close"></i>&ensp;閉じる</button>
    </div>
</div>