<head xmlns:th="http://www.thymeleaf.org" th:fragment="head-fragment(title, scripts, links)">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- 共通 CSS 読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
	<link rel="stylesheet" th:href="@{/css/base.css}">

	<!-- 個別 CSS 読込 -->
	<th:block th:replace="${links}" />

	<!-- 共通 JS 読込 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js" defer></script>
	<script type="text/javascript" th:src="@{/js/base.js}" th:inline="javascript" defer></script>
	<script type="text/javascript" th:src="@{/js/dataTablesConfig.js}" th:inline="javascript" defer></script>
	<script type="text/javascript" th:src="@{/js/rest/ajax-default.js}" th:inline="javascript" defer></script>

	<!-- 個別 JS 読込 -->
	<th:block th:replace="${scripts}" />
</head>