<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head-fragment :: head-fragment(
title = '管理者専用', scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}">
	<script type="text/javascript" th:src="@{/js/blank.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header-fragment :: header-fragment"></header>
<div>
	登録ユーザー情報確認
</div>
管理者専用画面<br>
まだ何もありません

<div class="container">
	<ul class="nav nav-tabs ">
		<li class="nav-item"><a href="#contents1" class="nav-link active"
			data-toggle="tab">タブ１</a></li>
		<li class="nav-item"><a href="#contents2" class="nav-link"
			data-toggle="tab">タブ2</a></li>
		<li class="nav-item"><a href="#contents3" class="nav-link"
			data-toggle="tab">タブ3</a></li>
	</ul>

	<div class="tab-content p-2">
		<div id="contents1" class="tab-pane active">
			<p>タブ1のコンテンツ</p>
		</div>
		<div id="contents2" class="tab-pane">
			<p>タブ2のコンテンツ</p>
		</div>
		<div id="contents3" class="tab-pane">
			<p>タブ3のコンテンツ</p>
		</div>
	</div>
</div>

</body>
</html>