<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head_fragment :: head_fragment(
title = '計算式編集', scripts = ~{::script}, links = ~{::link})">

<!-- CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/calculator.css}">

<!-- JS -->
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/bignumber.js@9.1.0/bignumber.min.js' defer></script>
<script type="text/javascript" th:src="@{/js/formulas.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/view.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/global.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/saveObjClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/drawTextClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/drawRectClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/drawCircleClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/objectClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/numberClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/signClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/main.js}" defer></script>

</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header_fragment :: header_fragment"></header>

<!-- ナビゲーションバー -->
<nav class="container-fluid navbar">
    <div class="navbar-nav d-flex flex-row align-items-center">
		<!-- 操作ガイド -->
		<button class="nav-item mr-2 btn btn-sm btn-secondary" id="guide-btn"><i class="fas fa-question-circle"></i>&ensp;操作ガイド</button>
		<!-- Canvasサイズ変更 -->
		<div class="nav-item mr-2">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text" for="selectCanvasSize" th:text="#{canvasSize}"></label>
				</div>
				<select class="custom-select" id="selectCanvasSize">
					<option value="1" th:text="#{windowSize}"></option>
					<option value="2" th:text="#{innerSize}"></option>
				</select>
			</div>
		</div>
		<!-- 全消去 -->
		<button class="nav-item mr-2 btn btn-sm btn-danger" id="delete-btn"><i class="fas fa-trash-alt"></i>&ensp;全消去</button>
		<!-- 開く -->
		<button sec:authorize="${authenticated}" class="nav-item btn btn-sm btn-success" id="open-btn"><i class="fas fa-folder-open"></i>&ensp;開く</button>
		<small sec:authorize="${!authenticated}" class="nav-item">※ ログインすると保存出来るようになります</small>
	</div>
</nav>

<!-- 操作ガイド（ポップアップ表示） -->
<div th:replace="fragment/calculatorGuide_fragment :: calculatorGuide_fragment"></div>

<!-- ファイル読込 -->
<div class="popup-file">
	<div class="content">
		<!-- 新規保存 -->
		<button id="addData" class="btn btn-primary mb-3"><i class="fas fa-folder-plus"></i>&ensp;新規保存</button>
		<!-- 計算表一覧 -->
		<table id="dataTable" class="table table-sm table-bordered text-nowrap w-100">
			<thead class="thead-light">
				<tr>
					<th th:text="#{title}"></th>
					<th th:text="#{updateDate}"></th>
					<th th:text="#{operation}"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<button id="close-file" class="btn btn-secondary"><i class="fas fa-window-close"></i>&ensp;[[#{close}]]</button>
	</div>
</div>

<!-- キャンバス -->
<div class="scroll-x">
	<div class="" id="canvas-wrapper">
	    <canvas class="bg-light" id="canvas" width="1280px" height="720px">このブラウザは HTML5 Canvas に対応していません。</canvas>
	</div>
</div>

<input type="hidden" th:value="${jsonData}" id="jsonData">

</body>
</html>