<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<!-- 共通 <head> 読込 -->
<head>
<title>[[#{createFormula}]]</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/calculator.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">

<!-- JS -->
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/bignumber.js@9.1.0/bignumber.min.js' defer></script>
<script type="text/javascript" th:src="@{/js/rest/rest-formulas.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/view.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/global.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/inputActions.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/direction.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/saveObjClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/drawTextClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/drawRectClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/drawCircleClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/objectClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/numberClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/class/signClass.js}" defer></script>
<script type="text/javascript" th:src="@{/js/calculator/main.js}" defer></script>

</head>
<body>
<div layout:fragment="content">
<!-- ナビゲーションバー -->
<nav class="container-fluid navbar mb-2" id="control-bar">
    <div class="navbar-nav d-flex flex-row flex-wrap align-items-center">
		<!-- 操作ガイド -->
		<button class="nav-item mr-3 mb-2 btn btn-sm btn-secondary" id="guide-btn"><i class="fas fa-question-circle"></i>&ensp;操作ガイド</button>
		<!-- 全消去 -->
		<button class="nav-item mr-3 mb-2 btn btn-sm btn-danger" id="delete-btn"><i class="fas fa-trash-alt"></i>&ensp;全消去</button>
		<!-- 開く -->
		<button sec:authorize="${authenticated}" class="nav-item btn btn-sm btn-success mr-3 mb-2" id="open-btn"><i class="fas fa-folder-open"></i>&ensp;開く</button>
		<small sec:authorize="${!authenticated}" class="nav-item mr-3 mb-2">※ ログインすると保存出来るようになります</small>
	</div>
	<!-- 各種設定 -->
	<div class="rounded p-2" id="config-area">
		<div class="mb-2">
			<small class="mr-3">キャンバスサイズ</small>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-sm btn-light">
					<input type="radio" autocomplete="off" value="1" v-model="canvasSize" @change="changeCanvasSize">画面サイズ
				</label>
				<label class="btn btn-sm btn-light">
					<input type="radio" autocomplete="off" value="2" v-model="canvasSize" @change="changeCanvasSize">内部サイズ
				</label>
			</div>
		</div>
		<div class="mb-2">
			<small class="mr-3">線のアニメーション</small>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-sm btn-light">
					<input type="radio" autocomplete="off" value="on" v-model="strokeAnim">ON
				</label>
				<label class="btn btn-sm btn-light">
					<input type="radio" autocomplete="off" value="off" v-model="strokeAnim">OFF
				</label>
			</div>
		</div>
		<div class="mb-2">
			<small class="mr-3">計算結果の初期タグ名</small>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-sm btn-light">
					<input type="radio" autocomplete="off" value="default" v-model="resultTag">(タグ1) (符号) (タグ2)
				</label>
				<label class="btn btn-sm btn-light">
					<input type="radio" autocomplete="off" value="custom" v-model="resultTag">固定
				</label>
				<input type="text" v-model="resultTagName" :disabled="resultTag != 'custom'">
			</div>
		</div>
	</div>
</nav>

<!-- キャンバス -->
<div class="scroll-x reverse-y">
	<div class="reverse-y" id="canvas-wrapper">
	    <canvas class="bg-light" id="canvas" width="1280px" height="720px">このブラウザは HTML5 Canvas に対応していません。</canvas>
	</div>
</div>

<!-- スマホ用入力ボタン -->
<button class="fixed-bottom btn btn-sm btn-primary hide" id="calc-keys-show"><i class="fas fa-calculator"></i></button>
<div class="fixed-bottom rounded hide" id="calc-keys">
    <div class="">
        <div class="d-flex flex-nowrap btn-group">
            <button class="btn btn-sm btn-secondary" onclick="keyAction('7')">7</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('8')">8</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('9')">9</button>
            <button class="btn btn-sm btn-info" onclick="keyAction('+')"><i class="fas fa-plus"></i></button>
            <button class="btn btn-sm btn-primary" id="calc-keys-hide"><i class="fas fa-calculator"></i></button>
        </div>
        <div class="d-flex flex-nowrap btn-group">
            <button class="btn btn-sm btn-secondary" onclick="keyAction('4')">4</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('5')">5</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('6')">6</button>
            <button class="btn btn-sm btn-info" onclick="keyAction('-')"><i class="fas fa-minus"></i></button>
            <button class="btn btn-sm btn-dark" onclick="keyAction('Backspace')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class="d-flex flex-nowrap btn-group">
            <button class="btn btn-sm btn-secondary" onclick="keyAction('1')">1</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('2')">2</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('3')">3</button>
            <button class="btn btn-sm btn-info" onclick="keyAction('*')"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm btn-dark" onclick="keyAction('c')">C</button>
        </div>
        <div class="d-flex flex-nowrap btn-group">
            <button class="btn btn-sm btn-secondary" onclick="keyAction('0')">0</button>
            <button class="btn btn-sm btn-secondary" onclick="keyAction('.')">.</button>
            <button class="btn btn-light"></button>
            <button class="btn btn-sm btn-info" onclick="keyAction('/')"><i class="fas fa-divide"></i></button>
            <button class="btn btn-sm btn-dark" onclick="keyAction('Delete')">Del</button>
        </div>
    </div>
</div>

<!-- ファイル読込 -->
<div class="popup-file">
	<div class="content">
		<!-- 新規保存 -->
		<button id="addData" class="btn btn-primary mb-3"><i class="fas fa-folder-plus"></i>&ensp;新規保存</button>
		<!-- 計算表一覧 -->
		<table id="dataTable" class="table table-sm table-bordered text-nowrap w-100">
			<thead class="thead-light">
				<tr>
					<th th:text="#{title}"></th>
					<th th:text="#{updateDate}"></th>
					<th th:text="#{operation}"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<button id="close-file" class="mt-3 btn btn-secondary"><i class="fas fa-window-close"></i>&ensp;[[#{close}]]</button>
	</div>
</div>

<!-- 操作ガイド（ポップアップ表示） -->
<div th:replace="fragment/calculator-guide-fragment :: calculator-guide-fragment"></div>
</div>
</body>
</html>