<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head-fragment :: head-fragment(
title = 'トップページ', scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.css}"/>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
	<script type="text/javascript" th:src="@{/js/swiper.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header-fragment :: header-fragment"></header>

<div class="container">
	<div class="mt-2 border-bottom">
		<h2>計算式作成サイト</h2>
	</div>
	<div class="mt-3">
		電卓でちょっとした計算をしている時、さっきの数値をまた使いたくなった事がありませんか？<br>
		でもExcelとか使うほどじゃ…って時、是非このサイトを利用してみて下さい！！
	</div>
	<div class="mt-3">
		このサイトの<a th:href="@{/calculator}">計算表作成ページ</a>では、入力した数値や計算結果を画面に"自由に置いておく"事ができます！
	</div>

	<!-- スライダーのコンテナ -->
	<div class="swiper m-3 rounded-lg">
		<!-- 必要に応じたwrapper -->
		<div class="swiper-wrapper">
			<!-- スライド -->
			<div class="swiper-slide">
				このサイトの<a th:href="@{/calculator}">計算表作成ページ</a>では、入力した数値や計算結果を画面に"自由に置いておく"事ができます！
			</div>
			<div class="swiper-slide">Slide 2</div>
			<div class="swiper-slide">Slide 3</div>
		</div>
		<!-- 必要に応じてナビボタン -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	<!-- 必要に応じてページネーション -->
	<div class="swiper-pagination"></div>
</div>

</body>
</html>