<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head_fragment :: head_fragment(
title = #{myPage}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}"/>
	<script type="text/javascript" th:src="@{/js/blank.js}" defer></script>
</head>
<body>

<!-- 共通ヘッダー読込 -->
<header th:replace="fragment/header_fragment :: header_fragment"></header>

<div class="container-fluid">
	<div class="row">
		<!-- 左側 -->
		<div class="col-md-2">
			<h5 class="text-center pt-2">My Page Menu</h5>
			<div class="list-group list-group-flush">
				<a th:href="@{/mypage/top}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'top'} ? 'active disabled'">
					[[#{myPageTop}]]
				</a>
				<a th:href="@{/mypage/formulas}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'formulas'} ? 'active disabled'">
					[[#{myFormulaList}]]
				</a>
				<a th:href="@{/mypage/posts}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'posts'} ? 'active disabled'">
					[[#{myPostList}]]
				</a>
				<a class="list-group-item list-group-item-action">[[#{userSettings}]]</a>
				<form name="logout" th:action="@{/logout}" method="post">
				</form>
				<a href="#" class="list-group-item list-group-item-action" onclick="document.logout.submit();">[[#{logout}]]<i class="ml-2 fas fa-sign-out-alt"></i></a>
			</div>
		</div>
		<!-- 右側 -->
		<div class="col-md-10">
			<th:block th:switch="${viewPage}">
				<th:block th:case="top">
					<div th:replace="fragment/mypage/myTop_fragment :: myTop_fragment"></div>
				</th:block>
				<th:block th:case="formulas">
					<div th:replace="fragment/mypage/myFormulas_fragment :: myFormulas_fragment"></div>
				</th:block>
				<th:block th:case="posts">
					<div th:replace="fragment/mypage/myPosts_fragment :: myPosts_fragment"></div>
				</th:block>
			</th:block>
		</div>
	</div>
</div>

</body>
</html>