<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="admin-body-fragment(viewPage)">

<div class="container-fluid">
	<div class="row">
		<!-- 左側 -->
		<div class="col-md-2">
			<h5 class="text-center pt-2">Admin Menu</h5>
			<div class="list-group list-group-flush">
				<a th:href="@{/admin/user}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'user'} ? 'active disabled'">
					<i class="fas fa-user-cog"></i>&ensp;ユーザー管理
				</a>
				<a th:href="@{/admin/bbs}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'bbs'} ? 'active disabled'">
					<i class="fas fa-chalkboard"></i>&ensp;掲示板管理
				</a>
				<a th:href="@{/admin/comment}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'comment'} ? 'active disabled'">
					<i class="far fa-comment-dots"></i>&ensp;コメント管理
				</a>
				<a th:href="@{/admin/category}" class="list-group-item list-group-item-action" th:classappend="${viewPage == 'category'} ? 'active disabled'">
					<i class="fas fa-icons"></i>&ensp;カテゴリ管理
				</a>
			</div>
		</div>
		<!-- 右側 -->
		<div class="col-md-10">
			<th:block th:switch="${viewPage}">
				<th:block th:case="user">
					<th:block th:replace="fragment/admin/admin-user-fragment :: admin-user-fragment"></th:block>
				</th:block>
				<th:block th:case="bbs">
					<th:block th:replace="fragment/admin/admin-bbs-fragment :: admin-bbs-fragment"></th:block>
				</th:block>
				<th:block th:case="comment">
					<th:block th:replace="fragment/admin/admin-comment-fragment :: admin-comment-fragment"></th:block>
				</th:block>
				<th:block th:case="category">
					<th:block th:replace="fragment/admin/admin-category-fragment :: admin-category-fragment"></th:block>
				</th:block>
			</th:block>
		</div>
	</div>
</div>

</th:block>