<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="calculators.project.spring.mapper.BBSFormulasMapper">
	<!-- マッピング定義(ユーザー) -->
 	<resultMap type="calculators.project.spring.model.BBSPost" id="bbsPost">
 		<id column="id" property="id" />
 		<result column="category" property="category"/>
 		<result column="categoryId" property="categoryId"/>
 		<result column="creatorId" property="creatorId"/>
 		<result column="updateDate" property="updateDate"/>
 		<result column="title" property="title"/>
 		<result column="comment" property="comment"/>
 		<result column="jsonData" property="jsonData"/>
 		<result column="userName" property="creatorName"/>
 		<result column="view" property="view"/>
 	</resultMap>

<!-- 投稿リスト取得 -->
<select id="getPostList" resultMap="bbsPost">
	SELECT
		bbsformulas.id,
		categories.name AS category,
		categories.id AS categoryId,
		bbsformulas.updateDate,
		bbsformulas.title,
		bbsformulas.comment,
		`users`.userName
	FROM
		bbsformulas
		LEFT JOIN
			`users`
		ON
			bbsformulas.creatorId = `users`.id
		LEFT JOIN
			categories
		ON
			bbsformulas.category = categories.id
	WHERE
		view = true
		<if test="creatorId != null">
			AND bbsformulas.creatorId = #{creatorId}
		</if>
</select>

<!-- 投稿リスト取得(管理者) -->
<select id="adminGetPostList" resultMap="bbsPost">
	SELECT
		bbsformulas.id,
		categories.name AS category,
		categories.id AS categoryId,
		bbsformulas.updateDate,
		bbsformulas.title,
		bbsformulas.comment,
		`users`.userName,
		bbsformulas.view
	FROM
		bbsformulas
		LEFT JOIN
			`users`
		ON
			bbsformulas.creatorId = `users`.id
		LEFT JOIN
			categories
		ON
			bbsformulas.category = categories.id
</select>

<!-- 投稿１件取得 -->
<select id="getPostOne" resultMap="bbsPost">
	SELECT
		bbsformulas.id,
		categories.name AS category,
		categories.id AS categoryId,
		bbsformulas.creatorId,
		bbsformulas.updateDate,
		bbsformulas.title,
		bbsformulas.comment,
		CASE `users`.userName
			WHEN IS NULL
			THEN '※　退会済みユーザー　※'
			ELSE `users`.userName
		END userName
	FROM
		bbsformulas
		LEFT JOIN
			`users`
		ON
			bbsformulas.creatorId = `users`.id
		LEFT JOIN
			categories
		ON
			bbsformulas.category = categories.id
	WHERE
		bbsformulas.id = #{postId} AND
		view = true
</select>

<!-- jsonデータ１件取得 -->
<select id="getJsonOne" resultType="String">
	SELECT
		jsonData
	FROM
		bbsformulas
	WHERE
		id = #{postId} AND
		view = true
</select>

<!-- 投稿１件追加 -->
<insert id="newPostOne">
	INSERT INTO
		bbsformulas(
			category,
			creatorId,
			updateDate,
			title,
			comment,
			jsonData
		) VALUES(
			#{categoryId},
			#{creatorId},
			#{updateDate},
			#{title},
			#{comment},
			#{jsonData} FORMAT JSON
		)
</insert>

<!-- 投稿１件更新 -->
<update id="updatePostOne">
	UPDATE
		bbsformulas
	SET
		category = #{categoryId},
		updateDate = #{updateDate},
		title = #{title},
		comment = #{comment}
		<if test="jsonData != null">
			,jsonData = #{jsonData} FORMAT JSON
		</if>
	WHERE
		id = #{id} AND
		creatorId = #{creatorId} AND
		view = true
</update>

<!-- 投稿１件更新(管理者) -->
<update id="adminUpdatePostOne">
	UPDATE
		bbsformulas
	SET
		category = #{categoryId},
		updateDate = #{updateDate},
		title = #{title},
		comment = #{comment},
		view = #{view}
	WHERE
		id = #{id}
</update>

<!-- 指定されたカテゴリの投稿を別のカテゴリへ変更 -->
<update id="changeCategory">
	UPDATE
		bbsformulas
	SET
		category = #{afterId}
	WHERE
		category = #{beforeId}
</update>

<!-- 自身の投稿１件削除(論理) -->
<update id="hidePostOne">
	UPDATE
		bbsformulas
	SET
		view = false
	WHERE
		id = #{id} AND
		creatorId = #{creatorId} AND
		view = true
</update>

<!-- 自身の投稿全件削除(論理) -->
<update id="hidePostAll">
	UPDATE
		bbsformulas
	SET
		view = false
	WHERE
		creatorId = #{creatorId} AND
		view = true
</update>

<!-- 投稿１件削除(物理) -->
<delete id="deletePostOne">
	DELETE FROM
		bbsformulas
	WHERE
		id = #{postId}
</delete>

</mapper>