<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="calculators.project.spring.mapper.CommentsMapper">

<!-- コメント一覧取得（管理者） -->
<select id="adminGetCommentList" resultType="Comment">
	SELECT
		postId,
		no,
		posterId,
		`users`.userName AS posterName,
		postDate,
		comment,
		view
	FROM
		comments
		LEFT JOIN
			`users`
		ON
			`users`.id = comments.posterId
</select>

<!-- 投稿のコメント一覧取得 -->
<select id="getCommentList" resultType="Comment">
	SELECT
		no,
		CASE users.userName
			WHEN IS NULL THEN '※　退会済みユーザー　※'
			ELSE `users`.userName
		END posterName,
		postDate,
		CASE view
			WHEN true THEN comment
			ELSE '※　このコメントは削除されました　※'
		END comment,
	FROM
		comments
		LEFT JOIN
			`users`
		ON
			`users`.id = comments.posterId
	WHERE
		postId = #{postId}
</select>

<!-- コメント追加 -->
<insert id="addCommentOne">
	INSERT INTO
		comments(
			postId,
			no,
			posterId,
			postDate,
			comment
		)VALUES(
			#{postId},
			(
				SElECT COUNT(*)
				FROM comments
				WHERE postId = #{postId}
			)+1,
			#{posterId},
			#{postDate},
			#{comment}
		)
</insert>

<!-- コメントの表示/非表示切り替え -->
<update id="changeCommentView">
	UPDATE
		comments
	SET
		view = NOT view
	WHERE
		postId = #{postId} AND
		no = #{no}
</update>

<!-- 指定投稿内のコメント全件削除(物理) -->
<delete id="deleteComments">
	DELETE FROM
		comments
	WHERE
		postId = #{postId}
</delete>

</mapper>