<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="calculators.project.spring.mapper.FormulasMapper">

<!-- IDと一致する計算表データを１件取得 -->
<select id="getFormulaOne" resultType="Formula">
	SELECT
		*
	FROM
		formulas
	WHERE
		id = #{formulaId} AND
		creatorId = #{creatorId}
</select>

<!-- 作成者IDと一致する計算表リストを取得 -->
<select id="getFormulaList" resultType="Formula">
	SELECT
		id,
		creatorId,
		updateDate,
		title
	FROM
		formulas
	WHERE
		creatorId = #{creatorId}
</select>

<!-- 計算表IDからjsonデータを1件取得 -->
<select id="getJsonOne" resultType="String">
	SELECT
		jsonData
	FROM
		formulas
	WHERE
		id = #{formulaId} AND
		creatorId = #{creatorId}
</select>

<!-- 数式表１件追加 -->
<insert id="addFormulaOne">
	INSERT INTO
		formulas(
			creatorId,
			updateDate,
			title,
			jsonData
		) VALUES(
			#{creatorId},
			#{updateDate},
			#{title},
			#{jsonData} FORMAT JSON
		)
</insert>

<!-- 数式表１件更新 -->
<update id="updateFormulaOne">
	UPDATE
		formulas
	SET
		updateDate = #{updateDate},
		title = #{title},
		jsonData = #{jsonData}
	WHERE
		id = #{id} AND
		creatorId = #{creatorId}
</update>

<!-- 数式表１件削除 -->
<delete id="deleteFormulaOne">
	DELETE FROM
		formulas
	WHERE
		id = #{formulaId} AND
		creatorId = #{creatorId}
</delete>

<!-- 自身の数式表全件削除 -->
<delete id="deleteFormulaAll">
	DELETE FROM
		formulas
	WHERE
		creatorId = #{creatorId}
</delete>

</mapper>