<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="calculators.project.spring.mapper.UserMapper">

<!-- ユーザー一覧取得 -->
<select id="getUserList" resultType="LoginUser">
	SELECT
		*
	FROM
		`users`
</select>

<!-- ユーザーＩＤからユーザー情報１件取得 -->
<select id="findUserOneUserId" resultType="LoginUser">
	SELECT
		*
	FROM
		`users`
	WHERE
		#{userId} = userId
</select>

<!-- ユーザー１件追加 -->
<insert id="addUserOne">
	INSERT INTO
		`users`(
			userName,
			userId,
			password
		) VALUES(
			#{userName},
			#{userId},
			#{password}
		)
</insert>

<!-- ユーザー名更新 -->
<update id="updateUserName">
	UPDATE
		`users`
	SET
		userName = #{userName}
	WHERE
		id = #{id}
</update>

<!-- パスワードまたはログインID情報更新 -->
<update id="updateUserIdPassword">
	UPDATE
		`users`
	SET
		<if test="newUserId != null">
			userId = #{newUserId}
		</if>
		<if test="newUserId != null and newPassword != null">
			,
		</if>
		<if test="newPassword != null">
			password = #{newPassword}
		</if>
	WHERE
		id = #{id} AND
		userId = #{nowUserId}
</update>

<!-- ユーザー情報更新 -->
<update id="updateUserStatus">
	UPDATE
		`users`
	SET
		userName = #{userName},
		userId = #{userId},
		<if test="password != null">
			password = #{password},
		</if>
		role = #{role}
	WHERE
		id = #{id}
</update>

<!-- ユーザー１件削除 -->
<delete id="deleteUser">
	DELETE FROM
		`users`
	WHERE
		id = #{id} AND
		role != 'ROLE_ADMIN'
</delete>

</mapper>